<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/lesson-page.css" />
  </head>
  <body>
    <div class="main-container">
      <div id="sidebar-container">
        <div id="sidebar-container">{% include "sidebar.html" %}</div>
      </div>
      <div class="main-content">
        <h2>📘 Quản lý bài học</h2>

        <!-- Add lesson -->
        <div class="lesson-add">
          <input
            type="text"
            id="lesson-title"
            placeholder="Nhập tên bài học..."
          />
          <button id="btn-add-lesson">➕ Thêm bài học</button>
        </div>

        <!-- Lesson list -->
        <div id="lesson-list" class="lesson-list"></div>
      </div>
    </div>
    <div id="toast-container"></div>
  </body>
</html>
<script type="module" , src="/static/lessons.js"></script>
